<!DOCTYPE html>
<html>
<head>
    <title>Phishing Website Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Phishing Website Detector</h2>
    <form method="POST" action="/predict">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Check</button>
    </form>

    {% if prediction %}
        <div class="result" style="color: {% if 'Phishing' in prediction %}#ff5252{% else %}#4caf50{% endif %};">
            <h3>URL: {{ url }}</h3>
            <h3>Prediction: {{ prediction }}</h3>
        </div>
    {% endif %}

    
    {% if features %}
    <div class="result">
        <h3>Extracted Features:</h3>
        <p>{{ features }}</p>
    </div>
{% endif %}
</body>
</html>
